<div class="lrc-editor">
  <div class="lrc-editor_toolbar">
    <el-tooltip content="添加时间标签(F9)" placement="top">
      <el-button size="small" icon="plus"></el-button>
    </el-tooltip>
    <el-tooltip content="替换当前时间标签(F10)" placement="top">
      <el-button size="small" icon="-replace3"></el-button>
    </el-tooltip>
    <el-tooltip content="移除当前时间标签(F11)" placement="top">
      <el-button size="small" icon="minus"></el-button>
    </el-tooltip>
    <el-tooltip content="删除所有时间标签(F12)" placement="top">
      <el-button size="small" icon="delete2"></el-button>
    </el-tooltip>
    <el-tooltip content="撤销(CTRL+Z)" placement="top">
      <el-button size="small" icon="-undo-copy"></el-button>
    </el-tooltip>
    <el-tooltip content="恢复(CTRL+Y)" placement="top">
      <el-button size="small" icon="-undo-copy el-icon-reversal"></el-button>
    </el-tooltip>
    <el-tooltip content="预览歌词(CTRL+ALT+V)" placement="top">
      <el-button size="small" icon="-preview"></el-button>
    </el-tooltip>
  </div>
  <el-input class="lrc-textarea" ref="textarea" type="textarea" :autosize="{ minRows: 15, maxRows: 15 }" placeholder="请输入歌词文本" :value="value" @input="$emit('input', $event)"></el-input>
  <div class="lrc-editor_status-bar">
    <span v-if="songName">正在编辑歌曲 《{{ songName }}》 的歌词 &nbsp;&nbsp; 编辑人: {{ byName || '活雷锋' }}</span>
    <span v-else>LRC Editor Version 1.0</span>
    <span class="lrc-editor_timebar" v-show="savetime"><i class="el-icon-time"></i> {{ savetime }}</span>
  </div>
</div>
