<section class="container">
  <main>
    <Help />
    <Step :active="active" />
    <el-row :gutter="20">
      <el-col :lg="{ span: 13, push: 2 }">
        <vForm ref="form" :model="model" @submit="downloadHandler">
          <el-autocomplete slot="songName" class="auto-complete-sugg" placeholder="请输入歌曲名" v-model="model.songName" :fetch-suggestions="searchSuggest" @select="selectHandler" custom-item="autocomplete-singer-name" popper-class="auto-complete-sugg"></el-autocomplete>
          <el-autocomplete slot="singerName" class="auto-complete-sugg" placeholder="请输入歌手名" v-model="model.singerName" :fetch-suggestions="searchSuggest" @select="selectHandler" custom-item="autocomplete-singer-name" popper-class="auto-complete-sugg"></el-autocomplete>
          <el-input slot="albumName" placeholder="请输入专辑名" v-model="model.albumName"></el-input>
          <el-input slot="authorName" placeholder="请输入编辑人" v-model="model.authorName"></el-input>
          <Editor slot="Editor" :model="model" v-model="lyric" :currentTime="currentTime" @preview="previewHandler"></Editor>
        </vForm>
      </el-col>
      <el-col :lg="{ span: 7, push: 2 }">
        <APlayer ref="aplayer" :music="music" :showlrc="showlrc" listmaxheight="200px" @loadedmetadata="loadedmetadata" @error="errorHandler" />
        <Upload @keypress.native.enter="loadNetworkMedia" @focusout.native="loadNetworkMedia" @loadstart="uploadLoadstartHandler" @loadend="uploadLoadendHandler" />
      </el-col>
    </el-row>
  </main>
  <vFooter />
</section>
