<section class="container">
  <main>
    <Help />
    <Step :active="1" />
    <el-row :gutter="20">
      <el-col :lg="{ span: 13, push: 2 }">
        <vForm :model="model">
          <Editor slot="Editor" :model="model" v-model="lyric" :currentTime="currentTime"></Editor>
        </vForm>
      </el-col>
      <el-col :lg="{ span: 7, push: 2 }">
        <APlayer ref="aplayer" :music="music" listmaxheight="200px" />
        <Upload />
      </el-col>
    </el-row>
  </main>
  <vFooter />
</section>
