<!-- Form Component -->
<el-form ref="form" :model="model" :rules="rules" label-position="right" label-width="70px">
  <el-form-item label="歌曲名" prop="songName">
    <el-input class="auto-complete-sugg" placeholder="请输入歌曲名" v-model="model.songName"></el-input>
  </el-form-item>
  <el-form-item label="歌手名" prop="singerName">
    <el-input class="auto-complete-sugg" placeholder="请输入歌手名" v-model="model.singerName"></el-input>
  </el-form-item>
  <el-form-item label="专辑名" prop="albumName">
    <el-input placeholder="请输入专辑名" v-model="model.albumName"></el-input>
  </el-form-item>
  <el-form-item label="编辑人" prop="authorName">
    <el-input placeholder="请输入编辑人" v-model="model.authorName"></el-input>
  </el-form-item>
  <!-- Editor Component -->
  <slot name="Editor" />
  <div class="button-group">
    <el-tooltip class="lyric-download-confirm-tooltip" content="点击下载后会重置UI，请务必保存到本地" placement="left">
      <a ref="download" class="el-button el-button--primary" target="_blank" @click="$emit('submit', model)">
        <i class="el-icon--download1"></i>
        <span>下载歌词</span>
      </a>
    </el-tooltip>
  </div>
</el-form>
