/* auto-complete */

.auto-complete-sugg {
  li {
    line-height: normal !important;
    padding: 7px !important;
    .songName {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .singerName {
      font-size: 12px;
      color: #b4b4b4;
    }
    .highlighted .singerName {
      color: #ddd;
    }
  }
}

.el-message__group p {
  vertical-align: top !important;
}

.lyric-download-confirm {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.button-group {
  text-align: right;
  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }
}


/* 搜索建议增加网易云版权 */

@media (min-width: 768px) {
  .auto-complete-sugg .el-input {
    &::before,
    &::after {
      content: '网易云提供接口支持';
      position: absolute;
      z-index: 9;
      right: 10px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      font-size: 12px;
      line-height: normal;
      color: #c6c6c6;
    }
    &::before {
      content: '';
      right: 130px;
      width: 12px;
      height: 12px;
      background: url('//music.163.com/favicon.ico') no-repeat;
      background-size: cover;
    }
  }
}
