.page-footer {
  height: 120px;
  background-color: #324057;
  color: #a4aebd;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
  .footer-content {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate3d(0, -50%, 0);
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    &::after {
      content: "(●'◡'●)ﾉ♥";
      animation: face-shake 5s infinite;
      display: inline-block;
      text-indent: 8px;
    }
  }
  a {
    font-size: 12px;
    color: #768193;
    text-decoration: none;
    margin-right: 8px;
  }
  .icon-groups {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate3d(0, -50%, 0);
    -webkit-user-select: none;
    [class*=" el-icon--"],
    [class^=el-icon--] {
      font-size: 34px;
      display: inline-block;
      vertical-align: middle;
      transition: .3s;
      margin: 0 8px;
      &:hover {
        color: #fff;
        transform: scale(1.2);
      }
    }
  }
}


/* 处q友 */

.cqy-popver {
  text-align: center;
  margin: -10px;
  .qrcode-wrapper {
    padding: 10px;
    position: relative;
    .qrcode {
      width: 180px;
    }
    .qrcode-icon {
      width: 50px;
      padding: 5px;
      border-radius: 8px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  .cqy {
    border-top: 1px solid #d8d8d8;
    padding: 10px;
    .avatar {
      $size: 40px;
      width: $size;
      border-radius: $size;
    }
    span {
      text-indent: 6px;
    }
    >* {
      display: inline-block;
      vertical-align: middle;
      color: #717171;
    }
  }
}

/* ipad */

@media (max-width: 768px) {
  .page-footer {
    .footer-content {
      left: 10%;
    }
    .icon-groups {
      right: 10%;
    }
  }
}


/* iPhone 6 plus */

@media (max-width: 414px) {
  .page-footer {
    h2::after,
    .icon-groups {
      display: none !important;
    }
    a {
      margin: 0;
      &:nth-of-type(3),
      &:nth-of-type(4) {
        display: none;
      }
    }
  }
}
